body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}


div.contenedor-inline {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(99, 34, 34, 0.28);
    margin: 0 auto 20px;

    max-width: 1000px;
    width: 90%;
    flex-wrap: wrap;
}

.enunciat {
    font-style: italic;
    color: #555;
}

input[type="submit"],
input[type="reset"] {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="number"] {
    padding: 5px 10px;
    border-radius: 5px;
}

fieldset {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto 20px;

    width: 600px;
    max-width: 90%;
    text-align: center;
}

fieldset legend {
    color: rgb(138, 15, 15);
    font-weight: bold;
    padding: 0 10px;
}


.error {
    color: red;
}